:root {
    --primary-color: #CF0000;
    --primary-color-hover: #CF0000;
    --secondary-color: #001430;
    --text-button: #FFFFFF;
    --text-color: #001430;
    --background-color: #FFFFFF;
    --card-background: #F8F9FA;
    --title-color: #CF0000;
}

[data-theme='dark'] {
    --primary-color: #CF0000;
    --primary-color-hover: #CF0000;
    --secondary-color: #001430;
    --text-color: #FFFFFF;
    --background-color: #001430;
    --card-background: #CF0000;
    --title-color: #FFFFFF;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    background-image: url('../img/0101.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background-color: var(--primary-color);
    color: var(--text-button);
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 80px;
    height: auto;
    filter: invert(1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    gap: 10px;
}

nav button {
    background-color: #ffffff00;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: var(--primary-color-hover);
}

/* Garantir que o botão "Tema" não saia da tela no celular */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 5px;
    }
}

main.content {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.img-text {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-text img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content-below {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.6;
}

.project-description, .podcast-episodes {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.project-description h2, .podcast-episodes h2 {
    color: var(--title-color);
    margin-bottom: 20px;
    font-size: 1.8em;
}

.project-description p, .project-description ul {
    font-size: 1.1em;
    line-height: 1.6;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 1;
}

footer a {
    margin: 0 15px;
    display: inline-block;
}

footer img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

/* Responsividade do header e nav */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav button {
        width: 100%;
    }
}

/* Responsividade dos polaroids */
.episodes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.episode {
    width: 22%;
    text-align: center;
    background-color: #CF0000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.episode:hover {
    transform: scale(1.05);
}

.polaroid {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Polaroids ajustáveis para diferentes tamanhos de tela */
@media (max-width: 1200px) {
    .episode {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .episode {
        width: 100%;
    }
}

.episode h3 {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
}

.video-container iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

audio {
    margin-top: 10px;
    width: 100%;
}
