
:root {
    --primary-color: #CF0000;        
    --primary-color-hover: #CF0000;  
    --secondary-color: #001430;     
    --text-button: #FFFFFF;          
    --text-color: #001430;          
    --background-color: #FFFFFF;     
    --card-background: #F8F9FA;      
    --title-color: #CF0000;          
}

[data-theme='dark'] {
    --primary-color: #CF0000;       
    --primary-color-hover: #CF0000;  
    --secondary-color: #001430;      
    --text-color: #FFFFFF;           
    --background-color: #001430;     
    --card-background: #CF0000;      
    --title-color: #FFFFFF;          
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
    */
 body {
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    margin: auto;
    padding: auto;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    
}

header {
    background-color: var(--primary-color);
    color: var(--text-button);
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 80px;
    height: auto;
    filter: invert(1); 
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    gap: 10px;
}

nav button {
    background-color: #ffffff00;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: var(--primary-color-hover);
}

main.content {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
/* conteudo do meio da pagina com o grupinho de   */
.img-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.img-text img {
    max-width: 100%;
    height: auto;
    flex: 1 1 300px;
    border-radius: 0px;
}

.img-text p {
    flex: 1 1 100%;
    font-size: 1.1em;
    line-height: 1.6;
}

.project-description, .podcast-episodes {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.project-description h2, .podcast-episodes h2 {
    color: var(--title-color);
    margin-bottom: 20px;
    font-size: 1.8em;
}

.project-description p, .project-description ul {
    font-size: 1.1em;
    line-height: 1.6;
}

.podcast-episodes .episode {
    background-color: var(--card-background);
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid var(--primary-color);
    border-radius: 10px;
    transition: background-color 0.3s;
}

.podcast-episodes .episode h3 {
    color: var(--title-color);
    margin-bottom: 15px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

audio {
    width: 100%;
    margin-bottom: 10px;
}

footer {
    background-color: var(--primary-color); 
    color: white; 
    text-align: center; 
    padding: 5px; 
    position: static; 
    bottom: 0;
    width: 100%; 
}

footer p {
    margin: 1; 
}

footer a {
    margin: 0 10px;
    display: inline-block; 
}

footer img {
    width: 24px; 
    height: 24px; 
    filter: invert(1); 
}


/* Responsividade */
@media (max-width: 768px) {
    header .container {
        flex-direction: column; 
        text-align: center; 
    }
    
    nav ul {
        margin-top: 1rem; 
        display: flex; 
        justify-content: center; 
        padding: 0; 
        list-style: none; 
        gap: 1rem; 
    }

    nav ul li {
        margin: 0; 
    }
}

/* design aba contato */

form {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}




form label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

form input,
form textarea {
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    background-color: #ff7070;
    color: var(--text-color);
}

form input:focus,
form textarea:focus {
    border-color: var(--focus-color);
}

form button {
    background-color:#ffc9c9;
    color: #CF0000;
    font-size: 1em;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover,
form button:focus {
    background-color: var(--hover-color);
    outline: none;
}