
:root {
    --primary-color: #6A0DAD;        
    --primary-color-hover: #4B0082;  
    --secondary-color: #000000;     
    --text-button: #FFFFFF;          
    --text-color: #000000;          
    --background-color: #FFFFFF;     
    --card-background: #F8F9FA;      
    --title-color: #6A0DAD;          
}

[data-theme='dark'] {
    --primary-color: #4B0082;       
    --primary-color-hover: #6A0DAD;  
    --secondary-color: #000000;      
    --text-color: #FFFFFF;           
    --background-color: #000000;     
    --card-background: #4B0082;      
    --title-color: #FFFFFF;          
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--primary-color);
    color: var(--text-button);
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 80px;
    height: auto;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    gap: 10px;
}

nav button {
    background-color: var(--secondary-color);
    color: var(--text-button);
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: var(--primary-color-hover);
}

main.content {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
/* conteudo do meio da pagina com o grupinho de   */
.img-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.img-text img {
    max-width: 100%;
    height: auto;
    flex: 1 1 300px;
    border-radius: 10px;
}

.img-text p {
    flex: 1 1 300px;
    font-size: 1.1em;
    line-height: 1.6;
}

.project-description, .podcast-episodes {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.project-description h2, .podcast-episodes h2 {
    color: var(--title-color);
    margin-bottom: 20px;
    font-size: 1.8em;
}

.project-description p, .project-description ul {
    font-size: 1.1em;
    line-height: 1.6;
}

.podcast-episodes .episode {
    background-color: var(--card-background);
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid var(--primary-color);
    border-radius: 10px;
    transition: background-color 0.3s;
}

.podcast-episodes .episode h3 {
    color: var(--title-color);
    margin-bottom: 15px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

audio {
    width: 100%;
    margin-bottom: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-button);
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .video-item {
        flex: 1 1 100%;
    }

    .box {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo a img {
        width: 80px;
    }

    .dropbtn {
        width: 100%;
        text-align: left;
    }

    .dropdown-content {
        min-width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.8em;
    }

    .dropbtn {
        padding: 10px;
        font-size: 14px;
    }

    .dropdown-content ul li a {
        padding: 10px;
    }

    .video-item iframe {
        height: 200px;
    }

    .busca-rapida input {
        width: 80%;
    }

    form {
        padding: 20px;
    }

    form button {
        padding: 10px 20px;
    }

    .videos-destaque h3 {
        font-size: 1.5em;
    }

    .project-description h2 {
        font-size: 1.5em;
    }

    .project-description p {
        font-size: 1em;
    }

    .titlesbook {
        font-size: 1.2em;
    }

    .content p {
        font-size: 0.9em;
    }

    
    .dropdown {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}