:root {
    --primary-color: #CF0000;        
    --primary-color-hover: #CF0000;  
    --secondary-color: #001430;     
    --text-button: #FFFFFF;          
    --text-color: #001430;          
    --background-color: #FFFFFF;     
    --card-background: #F8F9FA;      
    --title-color: #CF0000;
    --focus-color: #FF5656;          
    --hover-color: #FFC9C9;          
}

[data-theme='dark'] {
    --primary-color: #CF0000;       
    --primary-color-hover: #CF0000;  
    --secondary-color: #001430;      
    --text-color: #FFFFFF;           
    --background-color: #001430;     
    --card-background: #CF0000;      
    --title-color: #FFFFFF;
    --focus-color: #FFFFFF;
    --hover-color: #555555;
}

body {
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    margin: 0;                       
    padding: 0;                    
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    width: 100%; /* Garantir que o header ocupe 100% da largura */
    background-color: var(--primary-color); /* Cor de fundo do header */
    padding: 10px 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Incluir padding e border no tamanho total */
    display: flex;
    justify-content: space-between; /* Logo à esquerda, botão à direita */
    align-items: center; /* Centralizar verticalmente */
    position: relative;
}

.logo img {
    width: 80px;
    height: auto;
    filter: invert(1); 
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    gap: 10px;
}

main.content {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}


.img-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.img-text img {
    max-width: 100%;
    height: auto;
    flex: 1 1 300px;
    border-radius: 0;
}

.img-text p {
    flex: 1 1 100%;
    font-size: 1.1em;
    line-height: 1.6;
}

.project-description, .podcast-episodes {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.project-description h2, .podcast-episodes h2 {
    color: var(--title-color);
    margin-bottom: 20px;
    font-size: 1.8em;
}

.project-description p, .project-description ul {
    font-size: 1.1em;
    line-height: 1.6;
}

.podcast-episodes .episode {
    background-color: var(--card-background);
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid var(--primary-color);
    border-radius: 10px;
    transition: background-color 0.3s;
}

.podcast-episodes .episode h3 {
    color: var(--title-color);
    margin-bottom: 15px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

audio {
    width: 100%;
    margin-bottom: 10px;
}

footer {
    background-color: var(--primary-color); 
    color: white; 
    text-align: center; 
    padding: 5px; 
    position: relative;  
    bottom: 0;
    width: 100%; 
}

footer p {
    margin: 0;   
}

footer a {
    margin: 0 10px;
    display: inline-block; 
}

footer img {
    width: 24px; 
    height: 24px; 
    filter: invert(1); 
}

/* contato */
form {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

form input,
form textarea {
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    background-color: #ff5656;
    color: var(--text-color);
}

form input:focus,
form textarea:focus {
    border-color: var(--focus-color);  
}

form button {
    background-color: #ffc9c9;
    color: #CF0000;
    font-size: 1em;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover,
form button:focus {
    background-color: var(--hover-color); 
    outline: none;
}



/* Estilos gerais do dropdown */

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #fff;
    color: var(--secondary-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: inherit;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}


.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li a,
.theme-toggle-btn {
    color: var(--primary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-family: inherit;
}

.dropdown-content ul li a:hover,
.dropdown-content ul li a:focus,
.theme-toggle-btn:hover,
.theme-toggle-btn:focus {
    background-color: var(--text-color);
    outline: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--hover-color);
}


@media (max-width: 768px) {
    
    header {
        display: flex;
        justify-content: space-between; 
        align-items: center;  
        flex-direction: row;  
    }

    .logo a img {
        width: 80px;
    }

    .dropbtn {
        width: auto; 
        text-align: center;
    }

    
    .dropdown-content {
        min-width: 100%; 
        position: absolute;
        top: 100%;
        right: 0;
    }
}

@media (max-width: 480px) {
    
    header {
        padding: 10px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    header h1 {
        font-size: 1.8em;
    }

    .dropbtn {
        padding: 10px;
        font-size: 14px;
    }

    
    .dropdown {
        position: relative;
        margin-left: auto; 
    }

    
    .dropdown-content {
        right: 0;
        left: auto;
        top: 100%;
        position: absolute;
        width: 100%; 
    }
}
